<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-carrito.css" >
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-footer.css">


    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    
    <title>Coffe&Books</title>
</head>

<body>

    <%- include('partials/mainHeader') %>

    <main>
        <div class="titular">
        <h1><i class="fa-solid fa-cart-shopping"> </i> Carrito de compras</h1>
        </div>
        <section class="carrito">
            <% carrito.forEach(libro=> { %>
                <article>
                    <img src="/Images/products/<%= libro.img %>" alt="img">
    
                        <div class="izquierda">
                            <div class="info">
                                <h1><%= libro.titulo %></h1>
                                <h5><%= libro.autor %></h5>
                                <p>Stock no disponible</p>
                            </div>
                        </div>
                        <div class="derecha">
                            <p> $ <%= toThousand( libro.precio ) %></p>
                            <input type="number" value="1" > <br>
                            <button type="#">Remove</button>
                        </div>
                </article>
                <% }) %>
            
                <section>
                    <div class="total">
                        <h1>Precio adjunto:</h1> 
                        <p> $56.97 Arg</p> <br>
                        <h1>Descuentos:</h1>
                         <p> -$3.0 arg</p><br>
                        <h1>Total: </h1> 
                        <p> $53.97 Arg</p> <br>
                        <button type="submit">Realizar Compra</button>
                    </div>
                </section>

        </section>
    
    </main>

    <%- include('partials/mainFooter') %>
    
</body>

</html>