<article>
    <img src="/Images/products/<%= libro.img %>">
    <div class="main-article">
        <h4 class="title">
            <%= libro.titulo %>
        </h4>
        <h5 class="author">
            <%= libro.autor %>
        </h5>
        <p class="price">
            $ <%= toThousand( libro.precio ) %>
        </p>
    </div>
    <a href="/products/detail/<%= libro.id %>"><button class="btn-compra"> Ver producto </button></a>
</article>