<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/Logo.ico">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-footer.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Coffe & Books</title>
</head>

<body>

    <%- include('../partials/mainHeader') %>

        <main class="home">
            <section class="masVendidos" id="masVendidos">
                <h1>Libros más vendidos</h1>
                <div class="productos">

                    <% masVendidos.forEach(libro=> { %>

                        <%- include('../partials/articleIndex', {libro}) %>

                            <% }) %>

                </div>
            </section>

            <section class="ofertas" id="ofertas">
                <h1>Ofertas imperdibles</h1>
                <div class="productos">

                    <% ofertas.forEach(libro=> { %>

                        <%- include('../partials/articleIndex', {libro}) %>

                            <% }) %>
                </div>
            </section>

            <section class="interes" id="interes">
                <h1>También podría interesarte</h1>
                <div class="productos">

                    <% interes.forEach(libro=> { %>

                        <%- include('../partials/articleIndex', {libro}) %>

                            <% }) %>

                </div>
            </section>

            <% if (locals.isLogged) { %>

                <a href="products/Create">
                    <div class="create-button">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </a>
                <% } %>
        </main>

        <%- include('../partials/mainFooter') %>

</body>

</html>