<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/Logo.ico">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-register.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-footer.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <title>Coffe&Books</title>
</head>

<body>

    <%- include('../partials/mainHeader') %>

        <main class="registerForm">
            <section class="form">

                <form method="POST" action="/users/register" enctype="multipart/form-data">

                    <h1>Formulario de registro</h1>

                    <div class="inputs">
                        <div class="inputs-top">
                            <div class="left-side">
                                <div class="input">
                                    <label for="firstName"> Nombre </label>
                                    <input type="text" name="firstName" id="firstName"
                                        value="<%= locals.old && old.firstName %>" />
                                    <% if (locals.errors && errors.firstName) { %>
                                        <div class="feedback">
                                            <%= errors.firstName.msg %>
                                        </div>
                                        <% } %>
                                </div>

                                <div class="input">
                                    <label for="password"> Contraseña </label>
                                    <input type="password" name="password" id="password"
                                        value="<%= locals.old && old.password%>" />
                                    <% if (locals.errors && errors.password) { %>
                                        <div class="feedback">
                                            <%= errors.password.msg %>
                                        </div>
                                        <% } %>
                                </div>
                            </div>

                            <div class="right-side">

                                <div class="input">
                                    <label for="lastName"> Apellido </label>
                                    <input type="text" name="lastName" id="lastName"
                                        value="<%= locals.old && old.lastName%>" />
                                    <% if (locals.errors && errors.lastName) { %>
                                        <div class="feedback">
                                            <%= errors.lastName.msg %>
                                        </div>
                                        <% } %>
                                </div>

                                <div class="input">
                                    <label for="passwordConfirm"> Confirmar contraseña</label>
                                    <input type="password" name="passwordConfirm" id="passwordConfirm"
                                        value="<%= locals.old && old.passwordConfirm %>" />
                                    <% if (locals.errors && errors.passwordConfirm) { %>
                                        <div class="feedback">
                                            <%= errors.passwordConfirm.msg %>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="input">
                            <label for="email"> Correo Electronico</label>
                            <input type="email" name="email" id="email"
                                value="<%= locals.old && old.email ? old.email: '' %>" />
                            <% if (locals.errors && errors.email) { %>
                                <div class="feedback">
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                        </div>


                    </div>
                    <div class="input-file">
                        <label for="profileImg">Foto de perfil</label>
                        <input type="file" name="profileImg" id="profileImg">
                        <% if (locals.errors && errors.profileImg) { %>
                            <div class="feedback">
                                <%= errors.profileImg.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class="buttons">
                        <button class="btn-submit" type="submit" title="registrarse">
                            Registrarse
                        </button>

                        <button class="btn-reset" type="reset" title="limpiar">
                            Limpiar
                        </button>
                    </div>
                </form>
            </section>

        </main>

        <%- include('../partials/mainFooter') %>

</body>

</html>